footer.footer
    .container
        .footer-top
            .footer-column
                a(href="index.html").footer-heading.footer-heading--logo MoGo
                p.footer-desc.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet architecto id error! Tenetur a unde tempore amet, labore doloribus iste!
                p.footer-follower <strong>15k</strong> followers
                .footer-social
                    span.text Follow us :
                    .footer-social-list
                        a.footer-social-icon(href='#')
                            i.fab.fa-facebook-f
                        a.footer-social-icon(href='#')
                            i.fab.fa-google
                        a.footer-social-icon(href='#')
                            i.fab.fa-twitter
                        a.footer-social-icon(href='#')
                            i.fab.fa-instagram
                       
                form.footer-form
                    input(type="email" placeholder="Your email").footer-form-input
                    button.footer-form-button Subcribe
            .footer-column
                h3.footer-heading Blogs
                a.footer-blog(href="#")
                    img.footer-blog-image(src="images/img-blogs1.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet.
                        span.footer-blog-date.text.text---light Jan 9 ,2016
                a(href="#").footer-blog
                    img.footer-blog-image(src="images/img-blogs2.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet.
                        span.footer-blog-date.text.text---light Jan 9 ,2016
                a(href="#").footer-blog
                    img.footer-blog-image(src="images/img-blogs3.png")
                    .footer-blog-info
                        h4.footer-blog-title Lorem ipsum dolor sit amet.
                        span.footer-blog-date.text.text---light Jan 9 ,2016
            .footer-column
                h3.footer-heading Instagram
                .footer-images
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                    .footer-image
                        img(src="https://images.unsplash.com/photo-1622697839966-bb238ae2d2bd?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8NnNNVmpUTFNrZVF8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60")
                       
                a(href="#").footer-images-more.text.text--light View more photos
        .footer-bottom &copy; 2016 MoGo free PSD template by <span>Laaqiq</span>