section.service
    .container 
        +blockBox('We work with','Amazing services')
        .server-container
            .service-list
                //- .service-item
                //-     i.fas.fa-clock.service-item-icon
                //-     .service-item-info   
                //-         h3.service-item-title Photography
                //-         p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ullam?
                //- .service-item
                //-     i.fas.fa-spider-web.service-item-icon
                //-     .service-item-info   
                //-         h3.service-item-title Web design
                //-         p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ullam?
                //- .service-item
                //-     i.fas.fa-tv.service-item-icon
                //-     .service-item-info   
                //-         h3.service-item-title Creativity
                //-         p.service-item-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, ullam?
                +serviceItem('../images/img-service-icon1.png','Photography','Lorem ipsum dolor sit amet consectetur adipis')
                +serviceItem("../images/img-service-icon2.png","Web designqweqwewqeqweqwewqeqweqwewqewewewq","Lorem ipsum dolor sit amet consectetur adipis")    
                +serviceItem("../images/img-service-icon3.png","Creativity","Lorem ipsum dolor sit amet consectetur adipis")  
            .service-list                  
                +serviceItem("../images/img-service-icon4.png","Seo","Lorem ipsum dolor sit amet con")    
                +serviceItem("../images/img-service-icon5.png","Css/Html","Lorem ipsum dolor sit amet con")    
                +serviceItem("../images/img-service-icon6.png","Digital","Lorem ipsum dolor sit amet con")    

                