section.team
    .container
        +blockBox('Who we are','Meet our team','Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, pariatur!')
        .team-list
            +teamItem('images/img-team2.png','Kb','junior')
                +teamSocial('#a')
            +teamItem('https://images.unsplash.com/photo-1622032493066-a9c553099b7b?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDc4fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60','Ab','junior')
                +teamSocial('#b')
            +teamItem('https://images.unsplash.com/photo-1552728089-57bdde30beb3?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDQyfDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60','Db','junior')
                +teamSocial('#c')
section.brand
    .container
        img(src="images/img-logos.png", alt="brands")