section.work
	.container
		+blockBox('What we do','Some of our work','Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi adipisci corrupti enim quis est atque a molestiae consequatur quibusdam aut?lore  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam fugit tempore est consequatur mollitia amet illum saepe, nihil culpa? Saepe!')
	//- .work-list
	//- 	//- .work-column
	//- 	//- 	+workItem
	//- 	//- 	+workItem('./images/img-work2.png')
	//- 	//- .work-column
	//- 	//- 	+workItem('./images/img-work3.png')
	//- 	//- 	+workItem('./images/img-work4.png')
	//- 	//- .work-column
	//- 	//- 	+workItem('./images/img-work5.png','work-item--full')
	//- 	//- .work-column
	//- 	//- 	+workItem('./images/img-work6.png')
	//- 	//- 	+workItem('./images/img-work7.png')
	//- 	//- grid
	.work-grid
		+workItem
		+workItem('./images/img-work2.png')
		+workItem('./images/img-work3.png')
		+workItem('./images/img-work4.png')
		+workItem('./images/img-work5.png','work-item--full')
		+workItem('./images/img-work6.png')
		+workItem('./images/img-work7.png')

