.team{
    background-color:white;
    padding: 10rem 0;
    --image-height:47rem;
    &-list{

        @include flexbox(stretch,space-between);
        
    }
    &-item{
        width: calc(33.33% - 20px);
    }
    &-info{
        padding: 3rem 1.5rem;
        text-align: center;
        height: calc(100% - var(--image-height));
        @include flexbox(center,space-between,column)
    }
    &-name{
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        font-weight: 500;
        line-height: 1.4;
        @include textClamp(2)
    }
    &-position{
         font-size: 1.5rem; 
         font-weight: 300;
         font-style: italic;
         color: $text-color;
    }
    &-social{
        @include flexbox(center,center)
    }
    &-social-item:not(:first-child){
        border-left: 1px solid $primary-color;
    }
    &-social-link{
        // @include flexbox(center,center);
        @include flexbox2((
            display:flex,
            justify-content:center,
            align-items:center
        ));
        @include size(5rem);
        background-color:$secondary-color;
        color: $primary-color;
        font-size: 2rem;
        transition: all 0.2s linear;
        &:hover{
            color: white;
            background-color: $primary-color;
        }
    }
    &-image{
        @include size(100%,var(--image-height));
        object-fit: cover;

    }
    @include maxWidth(1023px){
        padding: 5rem 0;
        &-list{

            @include touchSlider(55%);
        }
       
    }
    @include maxWidth(767px){
        --image-height:40rem;
       
        &-list{

            @include touchSlider(90%);
        }
    }
    
}
.brand{
    padding: 8rem 0;
    background-color: #f8f8f8;
    @include maxWidth(767px){
        padding: 3rem 0;
    }
}
@include hoverEffect('.team-main','.team-content')